header{
	background-color:lightgray;text-align: center;
  }
  img{width: 10%;}
  hr{border-color: orange;}
#headtext{border-bottom:600px;border-color:orange;}
.orange {color:orange;}
.corsivo {font-style: italic;}
